.fondoCreate {
  width: 100%;
  height: 100%;
  background-image: url("./imagenes/fondocre.jpg");
  position: fixed;
}
.homecre {
  position: relative;
  right: 45%;
}
.botonhomecre {
  display: inline-block;
  font-weight: bold;
  padding: 8px 20px;
  overflow: hidden;
  letter-spacing: 3px;
  font-size: 10px;
  text-transform: uppercase;
  border-color: #afa59f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  position: relative;
  background: linear-gradient(to right, rgb(124, 119, 115), rgb(223, 223, 29));
}
.botonhomecre:hover {
  background: #77706e;
  color: beige;
  border-color: #77706e;
  box-shadow: 0 0 50px #77706e, 0 0 80px #77706e, 0 0 120px #77706e;
}
.titlecreate {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  padding: 0.5em 0em;

  margin: 0 0 0 -20em;
  position: relative;
  left: 23%;
}
.li {
  list-style: none;
}
.moveocretae {
  position: absolute;
  left: 83%;
  bottom: 86%;
}
.botoncreate {
  display: inline-block;
  font-weight: bold;
  padding: 8px 20px;
  overflow: hidden;
  letter-spacing: 3px;
  font-size: 10px;
  text-transform: uppercase;
  border-color: #afa59f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  position: relative;
  background: linear-gradient(to right, rgb(124, 119, 115), rgb(223, 223, 29));
}
.botoncreate:hover {
  background: #77706e;
  color: beige;
  border-color: #77706e;
  box-shadow: 0 0 50px #77706e, 0 0 80px #77706e, 0 0 120px #77706e;
}
.inputc input {
  background: none;
  outline: 0;
  color: aliceblue;
  font-size: 15px;
}
.inputc select {
  background: none;
  outline: 0;
  color: rgb(250, 234, 234);
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.option {
  background-color: rgb(13, 43, 12);
}
