.background {
  height: 100%;
  width: 100%;
  background-image: url("./imagenes/landing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: fixed;
  animation: movimiento 10s infinite linear alternate;
}
@keyframes movimiento {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}
.title {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  padding: 0.5em 0em;

  margin: 0 0 0 -20em;
  position: relative;
  left: 23%;
  top: 5%;
}
span {
  background: linear-gradient(to right, rgb(240, 240, 227), rgb(223, 223, 29));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.enter {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.buttonLanding {
  display: inline-block;
  font-weight: bold;
  padding: 10px 10px;
  overflow: hidden;
  letter-spacing: 3px;
  font-size: 15px;
  text-transform: uppercase;
  border-color: #7c7069;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  background: linear-gradient(to right, rgb(128, 118, 112), rgb(223, 223, 29));
}
.buttonLanding:hover {
  padding: 15px 15px;
  background: #77706e;
  color: beige;
  border-color: #77706e;
  box-shadow: 0 0 50px #77706e, 0 0 80px #77706e, 0 0 120px #77706e;
}
